<!DOCTYPE html>

<html lang="en">
  <%- include('partial/_header', {title : 'Home'}) %>
  <body>
    <%- include('partial/_banner')%>

    <div class="container text-center">
      <a href="/authors" class="btn btn-success">Authors</a>
      <a href="/posts" class="btn btn-warning">Posts</a>
    </div>
  </body>

  <%- include('partial/_footer') %>
</html>
