<!DOCTYPE html>
<html lang="en">
    <%- include('partial/_head', {title : 'Home'}) %>
<body>
    <center>
        <h1>
            <a href="/companies">Companies</a> ||
            <a href="/girlgroups">Girlgroups</a>
        </h1>
    </center>
</body>
</html>